<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Alarm Syster | <%= title%></title>
</head>
<body>
    <h>This page is not what your lokking for this page we hvent created yet...... thanks for visiting......</h>
</body>
</html>