<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/styles_contact.css">
	<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Patrick+Hand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

	<title>Fire Alarm System | <%=title%></title>
</head>
<body>

	<div class="container" id="blur">

		<nav>
			<div class="logo common">
				<a href="/"><b>F<span class="color-change">@</span>s</b></a>
			</div>

			<div class="se common">
				<ul class="first">
					<li class="you" id="open-popup-btn"><a href="#">Log-in</a></li>
					<li class="bracket">/</li> 
					<li id="open-popup-btn1"><a href="#">Sign-up</a></li>
				</ul>
			</div>
		</nav>



			<div class="home">
				<ul class="element">
					<li><a href="/">HOME</a></li>
					<li>></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>

		<div class="txt">
			<div class="before">
				<h1>Contact</h1>
				<p>For any Information connect with our members of administration: <a href="/about">FAS</a></p>
			</div>
			<div class="contact">
				<div class="person">
					<div><img class="user" src="1.jfif"></div>
					<div><h3>Daniel Bryan</h3></div>
					<div>Head of Management</div>
					<br>
					<div><p>Email: DanielBryan@gmail.com</p></div>
				</div>
				<div class="person">
					<div><img class="user" src="5.jpg"></div>
					<div><h3>Ishita Malik</h3></div>
					<div>Head of Management</div>
					<br>
					<div><p>Email: IshitaMalik@gmail.com</p></div>
				</div>
				<div class="person">
					<div><img class="user" src="2.jfif"></div>
					<div><h3>Ian Somerhalder</h3></div>
					<div>Member of Management</div>
					<br>
					<div><p>Email: IanSomerhalder@gmail.com</p></div>
				</div>
				<div class="person">
					<div><img class="user" src="3.jfif"></div>
					<div><h3>Michael B. Jordan</h3></div>
					<div>Member of Management</div>
					<br>
					<div><p>Email: MichaelBJordan@gmail.com</p></div>
				</div>
				<div class="person">
					<div><img class="user" src="4.jfif"></div>
					<div><h3>Stephenie Dasua</h3></div>
					<div>Member of Management</div>
					<br>
					<div><p>Email: StephenieDasua@gmail.com</p></div>
				</div>
			</div>
		</div>
	</div>

	<!------------------------------------------------- Login ------------------------------------------------------->

	<div id="popup" class="popup">

		<button id="dismiss-popup-btn" type="button" class="close" aria-label="Close">
 	 		<span aria-hidden="true">&times;</span>
		</button>

		<div class="log child">
			<a href="#"><b>F<span class="color-change">@</span>s</b></a>
		</div>
		<form>
			<input class="child" type="text" name="email" placeholder="Email">
			<input class="child" type="password" name="password" placeholder="Password">
			<a class="left child" href="#">Forget Password ?</a>
			<input class="child" type="submit" name="submit" value="Log In">
			<p class="link child">Don't have a login ? <a href="#" id="open-popup-btn-2" >Register now</a>.</p>
			<p>Use of this constitutes acceptance of our User Agreement and Privacy Policy</p>
		</form>

	</div>

	<!------------------------------------------------ sign up --------------------------------------------------------->

	<div id="popup1" class="popup1">

		<button id="dismiss-popup-btn1" type="button" class="close" aria-label="Close">
 	 		<span aria-hidden="true">&times;</span>
		</button>

		<div class="log child">
			<a href="#"><b>F<span class="color-change">@</span>s</b></a>
		</div>
		<form>
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="confirm password" placeholder="Confirm Password">
			<input type="username" name="username" placeholder="Username">
			<p class="clock">By registering, you agree to our <a href="#">User Agreement</a> & <a href="#">privacy policy</a></p>
			<br>
			<input type="submit" name="submit" value="Register">
			<p class="link">Already registered ? <a href="#" id="open-popup-btn1-2" > Log In now</a>.</p>
		</form>
	</div>

	<script src="/script.js"></script>

</body>
</html>