<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="1try2.png">
	<link rel="stylesheet" type="text/css" href="styles_index.css">
	<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>


	
	<title>Fire Alarm System | IIITA</title>
</head>
<body>
	<div class="container" id="blur">
		<nav>

			<div class="menu-btn" id="menu-btn">
				<div class="menu-btn__burger"></div>
			</div>
			<div class="fi common">
				<ul class="first sec">
					<li class="other"><a href="/">Home</a>
					<li class="other"><a href="/about">About</a>
					<li class="other"><a href="/contact"">Contact</a></li>
				</ul>
			</div>

			<div class="logo common">
				<a href="/"><b>F<span class="color-change">@</span>s</b></a>
			</div>

			<div class="se common">
				<ul class="first">
					<li class="you" id="open-popup-btn"><a href="#">Log-in</a></li>
					<li class="bracket">/</li> 
					<li id="open-popup-btn1"><a href="#">Sign-up</a></li>
				</ul>
			</div>

		</nav>

		<section id="showcase">
			<div class="txt">
				<ul>
					<li><p class="main"><span>Indian Institute of Information Technology<br>Allahabad</b></span></li>
					<li><p class="not-main">Fire Alarm System<br>Your Safety, Our Responsibility</p></li>
					<li><a class="btn btn-full" href="/about"><b>READ MORE</b></a></li>
				</ul>
			</div>
		</section>

		<div class="second">
			<div class="child" ><h1>SAFETY MEETS SECURITY HERE</h1></div>
			<div class="rectangle child"></div>
			<br><br>
		</div>

		<div class="image1"></div>

		<div class="comp1">
			<div class="part1 img1"><a href="/logfile"><img src="PicsArt1 (1).png"></a></div>
			<div class="txt1 part1">
				<h2>Feature</h2>
				<hr><br>
				<p>Get benefited by getting all the data of past incidents here. Log file which contain detected value from the detectors such as temperature, Carbon monoxide, etc. and also contain the detector name i.e position of detector( in cc3 building ) which detects those values. Ultimately get access to Logfile free of cost just by clicking on the image to the left.</p><br><hr>
			</div>
		</div>

		<div class="image2"></div>

		<div class="comp1">
			<div class="txt1 part1">
				<h2>CC3 Building</h2>
				<hr><br>
				<p>Let's see the structure of CC3 Building, IIITA in which this whole FAS: Fire Alarm System is implemented. Due to having several number of floors, Detectors are placed at four places at each floor. And for convenience they are given names according to their position i.e. for first floor detectors are: F1L1, F1L2, F1L3, F1L4 and so on.</p>
				<br><hr>
			</div>
			<div class="part1 img2"><img src="PicsArt1 (2).png"></div>
		</div>

		<footer class="footer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</footer>

	</div>

	

	<!------------------------------------------------- Login ------------------------------------------------------->

	<div id="popup" class="popup">

		<button id="dismiss-popup-btn" type="button" class="close" aria-label="Close">
 	 		<span aria-hidden="true">&times;</span>
		</button>

		<div class="log child">
			<a href="#"><b>F<span class="color-change">@</span>s</b></a>
		</div>
		<form>
			<input class="child" type="text" name="email" placeholder="Email">
			<input class="child" type="password" name="password" placeholder="Password">
			<a class="left child" href="#">Forget Password ?</a>
			<input class="child" type="submit" name="submit" value="Log In">
			<p class="link child">Don't have a login ? <a href="#" id="open-popup-btn-2" >Register now</a>.</p>
			<p>Use of this constitutes acceptance of our User Agreement and Privacy Policy</p>
		</form>

	</div>

	<!------------------------------------------------ sign up ------------------------------------------------------->

	<div id="popup1" class="popup1">

		<button id="dismiss-popup-btn1" type="button" class="close" aria-label="Close">
 	 		<span aria-hidden="true">&times;</span>
		</button>

		<div class="log child">
			<a href="#"><b>F<span class="color-change">@</span>s</b></a>
		</div>
		<form>
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="confirm password" placeholder="Confirm Password">
			<input type="username" name="username" placeholder="Username">
			<p class="clock">By registering, you agree to our <a href="#">User Agreement</a> & <a href="#">privacy policy</a></p>
			<br>
			<input type="submit" name="submit" value="Register">
			<p class="link">Already registered ? <a href="#" id="open-popup-btn1-2" > Log In now</a>.</p>
		</form>
	</div>

	<script src="/script.js"></script>

</body>
</html>