* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	color:rgba(0,0,0,0.8);
	background-color: #f4f4f4;
	font-family: 'Flamenco', cursive;
	margin:0;
}

/*--------------------------------------------------------NAV-BAR----------------------------------------------------------------------*/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Flamenco', cursive;
	background-color: white;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	width: 100vw;
	padding: 1.2rem;
	z-index: 10000;
}

.logo a{
	color: rgba(0,0,0,0.8);
	font-size: 40px;
	padding-left: 2.5rem;
}

.logo a{
	display: flex;
	text-decoration: none;
	justify-content: space-around;
}

.color-change{
	color: rgb(255, 76, 48);
}

.fi {
	margin: 0rem 2rem;
}

.se {
	margin: 0rem 5.5rem;
}

.first {
	display: flex;
	justify-content: space-around;
	width: 125%;
	text-align: center;}

.first a{
	color: rgb(0,0,0,0.7);
	font-weight: 500;
	text-decoration: none;
	font-size: 22px;
	list-style: none;
}

.first a:hover {
	color: black;
}

.first li{
	list-style: none;
	font-size: 22px;
}

.home {
	padding: 0 20rem;
	padding-top: 85px;
	background-color: #0B012C;
	width: 100%;
	padding-bottom: 15px;
}

.home li{
	font-family: 'Vollkorn', serif;
	display: inline;
	text-decoration: none;
	color: white;
}

.home a {
	font-family: 'Vollkorn', serif;
	display: inline;
	text-decoration: none;
	color: white;
	font-size: 1.7rem;
	font-weight: lighter;
}

.home li:nth-child(2) {
	font-weight: bold;
	color: coral;
	padding: 0 1rem;
	font-size: 1.7rem;
}

.txt {
	display: flex;
	flex-direction: column;
	font-size: 1.7rem;
	color:#555;
	padding: 0 20rem;
	padding-top: 50px;
	font-family:Arial, Helventica, sans-serif;
	font-weight: lighter;
	word-spacing: .2rem;
	letter-spacing: .09rem;
	line-height: 3rem;
}

.txt h1 {
	font-family: 'Vollkorn', serif;
	color: black;
	font-size: 5rem;
	text-decoration: italic;
	padding: 3rem 0;
}

.txt .before {
	background-color: white;
	padding: 2rem 5rem 5rem 5rem;
	border-radius: 7px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.txt .before a {
	text-decoration: none;
	color: rgb(255, 76, 48);
}

.txt .before a:hover {
	color: rgba(255, 76, 48, .7);
}
/*-----------------------------------------------CONTACT--------------------------------------------------------------*/

.contact {
	display: flex;
	padding: 10rem 0;
	height: auto;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.person {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30rem;
	height: 30rem;
	padding: 8rem 2rem;
	background: white;
	flex: 1 1 25rem;
	margin: 3rem 2rem 2rem 2rem;
	border-radius: 7px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

h3 {
	color: coral;
	text-align: center;
}

.person p {
	font-weight: lighter;
	font-size: 1.5rem;
}

.user {
	clip-path: circle()	;
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	position: absolute;
	top: calc(-10rem/2);
	left: calc(50% - 5rem);
}

/*-----------------------------------------------------LOGIN-----------------------------------------------------------------*/

.container.active1 {
	filter: blur(4px);
	pointer-events: none;
	user-select: none;
}

.popup {
	position: fixed;
	top: 40%;
	left: 50%;
	transform:translate(-50%,-50%) scale(0);
	width: 60rem;
	padding: 5rem 15rem;
	box-shadow: 0 .5rem 3rem rgba(0,0,0,0.3);
	background-color: white;
	opacity: 0;
	transition: 0.5s;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.popup.active {
	top: 50%;
	transform:translate(-50%,-50%) scale(1);
	opacity: 1;
	transition: 0.5s;	
}

#popup .left{
	float: right;
}

#popup .child {
	padding: 2rem 0;
}

#popup button[type="button"] {
	background-color: white;
	text-decoration: none;
	font-size: 4rem;
	color: rgba(0,0,0,0.5);
	border: none;
	display: flex;
	justify-content: space-around;
	width: 2rem;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	transform: translate(40rem,-3.5rem);
}

#popup input {
	width: 100%;
	color:rgba(0,0,0,0.8);
}

#popup input[type="text"], #popup input[type="password"] {
	border: 1px solid rgba(0,0,0,0.6);
	height: 4rem;
	font-size: 2rem;
	color:rgba(0,0,0,0.8);
	margin-top: 1rem;
	padding-left: 1rem;

}

#popup input[type="submit"] {
	border: none;
	outline: none;
	height: 4rem;
	color: #fff;
	font-size: 1.6rem;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
	border-radius: .5rem;
}

#popup a {
	color:black;
	font-size: 1.5rem;
}

#popup p {
	font-size: 1.5rem;
}

#popup .log a{
	color: rgba(0,0,0,0.8);
	font-size: 4rem;
	padding: 2rem;
	text-decoration: none;
}

::placeholder {
	color: rgba(0,0,0,0.3);
}

/*---------------------------------------------------SIGN UP---------------------------------------------------------------*/

.container.active3 {
	filter: blur(4px);
	pointer-events: none;
	user-select: none;
}

.popup1 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform:translate(-50%,-50%) scale(0);
	width: 60rem;
	padding: 5rem 15rem;
	box-shadow: 0 .5rem 3rem rgba(0,0,0,0.3);
	background-color: white;
	opacity: 0;
	transition: 0.5s;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.popup1.active2 {
	top: 50%;
	transform:translate(-50%,-50%) scale(1);
	opacity: 1;
	transition: 0.5s;	
}

#popup1 .left{
	float: right;
}

#popup1 .child {
	padding: 2rem 0;
}

#popup1 button[type="button"] {
	background-color: white;
	text-decoration: none;
	font-size: 4rem;
	color: rgba(0,0,0,0.5);
	border: none;
	display: flex;
	justify-content: space-around;
	width: 2rem;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	transform: translate(40rem,-3.5rem);
}

#popup1 input {
	width: 100%;
	color:rgba(0,0,0,0.8);
}

#popup1 input[type="text"], #popup1 input[type="password"], #popup1 input[type="username"] {
	border: 1px solid rgba(0,0,0,0.6);
	height: 4rem;
	font-size: 2rem;
	color:rgba(0,0,0,0.8);
	margin-top: 1rem;
	padding-left: 1rem;

}

#popup1 input[type="submit"] {
	border: none;
	outline: none;
	height: 4rem;
	color: #fff;
	font-size: 1.6rem;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
	border-radius: .5rem;
}

#popup1 a {
	color:black;
	font-size: 1.5rem;
}

#popup1 p {
	font-size: 1.5rem;
	padding: 2rem;
}

#popup1 .log a{
	color: rgba(0,0,0,0.8);
	font-size: 4rem;
	padding: 2rem;
	text-decoration: none;
}

/* ---------------------------------------------------FOR SMALL DEVICES-------------------------------------------------------------  */

@media(max-width: 998px) {
	html {
		font-size: 55%;
	}
}

@media(max-width: 768px) {
	html {
		font-size: 45%;
	}
	.logo a{
		font-size: 35px;
		padding: 7px;
	}

	.first li{
		font-size: 15px;
	}

	.first a{
		font-size: 15px;
	}
}

@media(max-width: 640px) {
	html{
		font-size: 35%;
	}
	.txt {
		padding: 10rem;
	}
	.home {
		padding-left: 10rem;
	}
}

@media(max-width: 500px) {
	html {
		font-size: 33%;
	}
}

/* -------------------------------------------------------------THE-END-----------------------------------------------------------------------   */


